$primary-color: #415e3c;
$hover-color: #464745;
$company-color: #e54d39;
$button-gradient: linear-gradient(to right, #5a8354, #8fbf63);
$button-gradient-hover: linear-gradient(to right, #8fbf63, #8fbf63);
$footer-bg: #6d9959;
